<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>
		<p><h1>Teste</h1></p>
		<form action="/cadastro/form" method="POST" >
				<label>Nome</label>
				<input type="text" id="Nome" name="Nome" placeholder="EX: Lucas Assis..."/> 
	<br />
				<label>Phone</label>
				<input type="text" id="Phone" name="Phone" placeholder="EX: 92 99999-9999..."/> 
	<br />
				<label>Email</label>
				<input type="text" id="Email" name="Email" placeholder="EX: exemplo@gmail.com..."/> 
	<br />
				<input type="submit" value="enviar" />
		</form>

	</body>
</html>